.estadisticas-container {
  max-width: 800px;
  margin: 0 auto;
  padding: 2rem;
  background-color: #f8f9fa;
  border-radius: 12px;
  box-shadow: 0 2px 12px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin-bottom: 20rem;
}

.estadisticas-container h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #343a40;
}